/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #C1C1C1;
@define-color background #000000;
@define-color foreground #C1C1C1;
@define-color color0  #000000;
@define-color color1  #5F8787;
@define-color color2  #D0DFEE;
@define-color color3  #5F81A5;
@define-color color4  #888888;
@define-color color5  #999999;
@define-color color6  #AAAAAA;
@define-color color7  #C1C1C1;
@define-color color8  #333333;
@define-color color9  #5F8787;
@define-color color10 #D0DFEE;
@define-color color11 #5F81A5;
@define-color color12 #888888;
@define-color color13 #999999;
@define-color color14 #AAAAAA;
@define-color color15 #C1C1C1;
