@import "./colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
}

window#waybar {
  background: @background;
}

#custom-cachy:hover,
#cpu:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#pulseaudio.sink-muted:hover,
#custom-powermenu:hover,
#custom-voxtype:hover {
  opacity: 0.5;
}

#custom-cachy,
#cpu,
#clock,
#mpris,
#custom-menu,
#tray,
#privacy,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#battery,
#custom-powermenu,
#custom-voxtype {
  color: @foreground;
  padding: 6px 0;
}

#workspaces button {
  color: @foreground;
  padding: 0;
}
#workspaces button.active {
  color: @color2;
}

#privacy {
  margin: 4px;
  color: @color3;
}

#clock {
  color: @color4;
}

#mpris {
  color: @color3;
}

#network.disabled {
  color: @color1;
}
#network.wifi {
  color: @color2;
}
#network.ethernet {
  color: @color3;
}

#bluetooth.disabled {
  color: @color1;
}
#bluetooth.connected {
  color: @color4;
}

#pulseaudio.sink-muted:not(.microphone) {
  color: @color3;
}
#pulseaudio.microphone.source-muted {
  color: @color1;
}

#battery.plugged {
  color: @color4;
}
#battery.charging {
  color: @color2;
}
#battery.critical {
  color: @color3;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
}
tooltip * {
  color: @foreground;
  margin: 2px;
  background: @background;
}

#pulseaudio-slider,
#backlight-slider {
  min-height: 80px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
  background: transparent;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 8px;
}

#pulseaudio-slider highlight {
  background: @color4;
}
#backlight-slider highlight {
  background: @color3;
}

#custom-voxtype.idle {
  color: @foreground;
}
#custom-voxtype.recording {
  color: @color1;
  animation: pulse 1s ease-in-out infinite;
}
#custom-voxtype.transcribing {
  color: @color3;
}
#custom-voxtype.stopped {
  color: @color8;
}